In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame
from scipy import stats

Populating the interactive namespace from numpy and matplotlib

In [2]:
town1=array([152, 183, 188, 185, 187, 180, 160])
town2=array([155, 185, 188, 185, 189, 183])
town1_mean=mean(town1)
town2_mean=mean(town2)
print('sample mean: town1 =', round(town1_mean,2))
print('sample mean: town2 =', round(town2_mean,2))
print('difference =', round(abs(town1_mean-town2_mean),2))
stats.ttest_ind(town1, town2)

sample mean: town1 = 176.43
sample mean: town2 = 180.83
difference = 4.4

Ttest_indResult(statistic=-0.5776290693172614, pvalue=0.5751474470258668)

In [3]:
town1=array([160, 163, 162, 158, 162, 164, 156])
town2=array([184, 182, 176, 182, 180, 181])
town1_mean=mean(town1)
town2_mean=mean(town2)
print('sample mean: town1 =', round(town1_mean,2))
print('sample mean: town2 =', round(town2_mean,2))
print('difference =', round(abs(town1_mean-town2_mean),2))
stats.ttest_ind(town1, town2)

sample mean: town1 = 160.71
sample mean: town2 = 180.83
difference = 20.12

Ttest_indResult(statistic=-12.913596384064421, pvalue=5.453015851404574e-08)

In [4]:
town1=array([152, 183, 188, 185, 187, 180, 160])
town2=array([155, 185, 188, 185, 189, 183])
print('normality test: town1:', stats.shapiro(town1))
print('normality test: town2:', stats.shapiro(town2))

normality test: town1: (0.7899420261383057, 0.032529961317777634)
normality test: town2: (0.6561822891235352, 0.002065251348540187)

In [5]:
print ('Is the observed difference significant?', stats.mannwhitneyu(town1, town2, alternative='two-sided')[1]<0.05)

Is the observed difference significant? False

In [6]:
# normality test
town1=array([160, 163, 162, 158, 162, 164, 156])
town2=array([184, 182, 176, 182, 180, 181])
print('normality test: town1:', stats.shapiro(town1))
print('normality test: town2:', stats.shapiro(town2))

normality test: town1: (0.9306030869483948, 0.5560402870178223)
normality test: town2: (0.9112409353256226, 0.444610595703125)

In [7]:
print ('Is the observed difference significant?', stats.ttest_ind(town1, town2)[1]<0.05)

Is the observed difference significant? True

In [9]:
dplan=pd.read_csv('dietplan.txt', sep='\t', index_col='Participant')
#del dplan.index.name
dplan

             Diet-Plan1  Diet-Plan2  Diet-Plan3  Diet-Plan4
Participant
P1                13.50       18.90       22.95       20.25
P2                16.20       16.20       21.60       27.00
P3                10.80       20.25       20.25       25.65
P4                16.20       21.60       21.60       22.95
P5                17.55       18.90       18.90       24.30
P6                14.85       20.25       18.90       24.30

In [10]:
dp1=dplan['Diet-Plan1'].values
ave1=mean(dp1)

dp2=dplan['Diet-Plan2'].values
ave2=mean(dp2)

dp3=dplan['Diet-Plan3'].values
ave3=mean(dp3)

dp4=dplan['Diet-Plan4'].values
ave4=mean(dp4)

print('Mean: Diet-Plan1 =', ave1)
print('Mean: Diet-Plan2 =', ave2)
print('Mean: Diet-Plan3 =', ave3)
print('Mean: Diet-Plan4 =', ave4)

Mean: Diet-Plan1 = 14.85
Mean: Diet-Plan2 = 19.349999999999998
Mean: Diet-Plan3 = 20.700000000000003
Mean: Diet-Plan4 = 24.075000000000003

In [11]:
print ('Diet-Plan1 is normal?', stats.shapiro(dp1)[1]>0.05)
print ('Diet-Plan2 is normal?', stats.shapiro(dp2)[1]>0.05)
print ('Diet-Plan3 is normal?', stats.shapiro(dp3)[1]>0.05)
print ('Diet-Plan4 is normal?', stats.shapiro(dp4)[1]>0.05)

Diet-Plan1 is normal? True
Diet-Plan2 is normal? True
Diet-Plan3 is normal? True
Diet-Plan4 is normal? True

In [12]:
print ('Diet-Plan2 vs Diet-Plan3 significant?', stats.ttest_ind(dp2, dp3)[1]<0.05)

Diet-Plan2 vs Diet-Plan3 significant? False

In [13]:
print ('Diet-Plan3 vs Diet-Plan4 significant?', stats.ttest_ind(dp3, dp4)[1]<0.05)

Diet-Plan3 vs Diet-Plan4 significant? True

In [14]:
print ('Diet-Plan1 vs Diet-Plan2 significant?', stats.ttest_ind(dp1, dp2)[1]<0.05)

Diet-Plan1 vs Diet-Plan2 significant? True